.container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:300px;

}
.container1{
    display:none;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}
.container2{
    display:none;
    margin-left: auto;
    margin-right: auto;
    width:300px;
   
}
.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .text{
    text-align: center;
  }
  .pt{
    padding-bottom: 20px;
    
  }

  @media only screen and (max-width: 600px) {
   .center{
    width: 100%!important;
    padding: 0px!important;
   }
   .but{
    padding-bottom: 10px;
   }
   h1{
    font-size: 17px!important;
   }
    }
  